$bg-color: rgb(215, 215, 215);
$main4-height: 100vh;
$main4-wrapper-font-family: "Silkscreen", sans-serif;

$color-bg: #1f1f1f;
$color-yellow: #202b35;

// TODO: how to global color
$color-background: #1f1f1f;
$color-foreground: #cccccc;

$color-teal: #4bbf9e;

// #688C4F
$color-green-dark: #688c4f;
$color-green-light: #7cb844;

$color-purple: #be84bf;
$color-pink: #d773d9;

$color-orange: #d97941;

$color-yellow: #f2b705;
$color-yellow-light: #d7ba7d;

$color-cream: #d9d6a9;
$color-cream-2: #ce9178;
$color-cream-3: #ce916a;
$color-cream-4: #d99982;

$color-blue: #23288c;
$color-blue-light: #4bc3f2;
// #23288C
// #1E2159

// demo
$demo-blue-1: #23288c;
$demo-blue-2: #1e2159;

$demo-green: #688c4f;
$demo-green-2: #25d985;
$demo-green-3: #24bf4b;

$demo-cream: #d9d6a9;
$demo-background: #262626;
$demo-background-2: #1f1f1f;
$demo-foreground: #cccccc;
