@font-face {
  font-family: Recoleta;
  src: url(./Recoleta-RegularDEMO.otf);
}

@font-face {
  font-family: SFMono;
  src: url(./SFMono-Regular.otf);
}

.FontsApp {
  font-family: Recoleta, sans-serif;
  font-size: 25px;

  padding: 1rem 20rem;
}
