@import '../global/colors.scss';
@import '../global/fonts.scss';

// body {
//   padding: 0;
//   margin: 0;
//   background-color: $demo-background !important;
//   color: $color-foreground;
//   display: flex;
//   justify-content: center;
//   @include audiowide-regular();
// }

.main6 {
  display: flex;
  height: $main4-height;
  justify-content: center;

  .wrapper {
    .jsx-component {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;

      .status2 {
        color: #bedc00;
        font-weight: 600;
        margin-top: 20px;
      }

      .status3 {
        color: #f8f8f8;
        font-weight: 600;
        margin-top: 20px;
      }

      .update-date {
        color: #666;
        font-weight: 700;
        position: absolute;
        left: 20px;
        bottom: 20px;
      }

      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;

        button {
          margin: 1rem;
          background: $color-background;
          border-radius: 100%;
          border-width: 18px;
          cursor: pointer;
          width: 8rem;
          height: 8rem;
          display: flex;
          flex-direction: row;
          align-items: center;

          // border-color: #14f27f;
          // box-shadow: rgb(48, 244, 185) 0px 0px 15px 0.5px;
          // background-image: linear-gradient(90deg, rgb(8, 107, 69) 0%, rgb(32, 244, 131) 100%);

          // border-color: #d8f214;
          // box-shadow: rgb(236, 248, 127) 0px 0px 15px 0.5px;
          // background-image: linear-gradient(90deg, rgb(92, 109, 7) 0%, rgb(226, 244, 32) 100%);

          border-color: red;
          box-shadow: rgb(252, 41, 8) 0px 0px 15px 0.5px;
          background-image: linear-gradient(90deg, rgb(173, 2, 2) 0%, rgb(250, 19, 19) 100%);

          .text {
            flex: 2;
          }

          .win {
            flex: 1;
            font-size: 2rem;
            // @include audiowide-regular();
            color: $color-pink;
            color: $color-orange;
            color: $color-blue-light;
            color: $color-cream;
            color: white;
            font-weight: 700;
            // font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
            //   Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          }

          // &:nth-of-type(1) {
          //   border-color: $color-blue-second;
          //   box-shadow: rgb(41, 22, 255) 0px 0px 15px 0.5px;
          //   background-image: linear-gradient(90deg, rgb(5, 3, 144) 0%, rgb(64, 67, 241) 100%);
          // }
          &:nth-of-type(1) {
            border-color: red;
            box-shadow: rgb(252, 41, 8) 0px 0px 15px 0.5px;
            background-image: linear-gradient(90deg, rgb(173, 2, 2) 0%, rgb(250, 19, 19) 100%);
          }
        }
        button:hover {
          opacity: 1;
        }
        button:focus {
          border-color: #8eba09;

          &:nth-of-type(1) {
            border-color: #2d1de7;
          }
        }
      }

      p,
      .counter {
        font-size: 2rem;
        // font-family: "Silkscreen", sans-serif;
        // margin-top: 0.5rem;
        gap: 10px;
        color: $demo-blue-1;
        // @include audiowide-regular();

        display: flex;
        gap: 10px;
        justify-content: center;
        flex-wrap: wrap;
      }

      .counter {
        color: $color-yellow;
        width: 100%;
        font-size: inherit;
        margin-bottom: 2rem;

        .dot {
          width: 10px;
          height: 10px;
          font-size: 2rem;
        }
      }

      .witems {
        .witem,
        .witemGroup {
          margin-top: 1rem;
          color: white;

          span {
            margin: 0.3rem;
          }
        }
        .witem {
          color: #414141;
        }
      }
    }
  }

  // background-color: $color-cream-2;
  // width: 500px;
  // padding: 1rem 15rem;

  @media screen and (max-width: 1000px) {
    padding: 8px 8rem;
    // background-color: greenyellow;
    width: 450px;
  }
  @media screen and (max-width: 500px) {
    padding: 8px;
    // background-color: blueviolet;
    width: inherit;
  }
}

.text-status {
  color: '#ffffff';
}
