@import "../global/colors.scss";

.MemorizeApp {
  font-family: Recoleta, sans-serif;

  .inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
      padding: 5px 10px;
      font-size: 2rem;
      border-radius: 10px;
    }
  }

  .results {
    font-size: 2rem;
    line-height: 2px;
    color: $color-teal;
  }
}
