@import "./global/colors.scss";

body {
  padding: 0;
  margin: 0;

  background-color: $demo-background !important;
  color: $color-foreground;

  display: flex;
  justify-content: center;
}

.main4 {
  display: flex;
  height: $main4-height;
  justify-content: center;
  // align-items: center;

  .wrapper {
    .jsx-component {
      // background-color: $demo-background-2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      // margin: 1rem 30rem;

      button {
        opacity: 0.9;
        margin: 1rem;
        font-family: "Silkscreen", sans-serif;
        background: $color-background;
        border-radius: 100%;
        border-width: 18px;
        border-color: $color-teal;
        cursor: pointer;
        width: 15rem;
        height: 15rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        color: $demo-green-2;

        .text {
          flex: 2;
        }

        .win {
          flex: 1;
          font-size: 5rem;
          color: aquamarine;
        }
      }
      button:hover {
        opacity: 1;
      }

      p,
      .counter {
        font-size: 2rem;
        font-family: "Silkscreen", sans-serif;
        margin-top: 0.5rem;
        color: $demo-blue-1;
      }

      .counter {
        color: $color-yellow;
        width: 100%;
      }

      // @media screen and (max-width: 500px) {
      //   background-color: yellow;
      //   padding: 2rem;
      // }
    }
  }

  // background-color: $color-cream-2;
  // width: 500px;
  padding: 1rem 15rem;
  @media screen and (max-width: 1000px) {
    padding: 8px 8rem;
  }
  @media screen and (max-width: 500px) {
    padding: 8px;
  }
}
