@import "./global/colors.scss";

body {
  padding: 0;
  margin: 0;

  background-color: $demo-background !important;
  color: $color-foreground;

  display: flex;
  justify-content: center;
}

.main4 {
  display: flex;
  height: $main4-height;
  justify-content: center;
  // align-items: center;

  .wrapper {
    button: {
      background-color: $demo-cream;
      opacity: 0.9;
    }

    button:hover {
      // background-color: $demo-cream;
      opacity: 1;
    }

    button:focus {
      border-color: red;
    }

    .jsx-component {
      background-color: $demo-background-2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem 3rem;
      // margin: 1rem 30rem;

      button {
        opacity: 0.9;
        margin: 1rem;
        font-size: 10rem;
        font-family: "Silkscreen", sans-serif;
        background: $color-background;
        border-radius: 100%;
        border-width: 18px;
        border-color: $color-teal;
        cursor: pointer;
        width: 18rem;
        height: 18rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        // gap: 5px;
        color: $demo-green-2;
        // $demo-blue-1;

        .text {
          flex: 2;
        }

        .win {
          flex: 1;
          // color: aqua;
        }
      }
      button:hover {
        opacity: 1;
      }

      p,
      .counter {
        font-size: 2rem;
        font-family: "Silkscreen", sans-serif;
        margin-top: 0.5rem;
        // color: rgb(154, 154, 155);
        color: $demo-blue-1;
      }

      .counter {
        color: $color-yellow;
        width: 100%;
      }
    }
  }

  // background-color: $color-cream-2;
  width: 500px;
  @media screen and (max-width: 1000px) {
    // background-color: red;
    padding: 0.5rem 1rem;
    // margin: 1rem 10rem;
  }
  @media screen and (max-width: 500px) {
    // background-color: greenyellow;
    padding: 0.2rem;
    // margin: 1rem;
  }
}
