$myColor: red;
$myBackground: rgb(41, 45, 62);
$myForColor: rgb(191, 199, 213);
$myLinkColor: #09d3ac;

.main {
  background-color: $myBackground;
  padding: 10px;
  height: 100vh;

  .wrapper {
    display: flex;
    flex-direction: column;

    button {
      border: 1px solid #09d3ac;
      border-radius: 5px;
      background-color: transparent;
      border-color: #09d3ac;
      color: #09d3ac;
      padding: 5px;
      font-weight: 700;
      font-size: 0.875rem;
      line-height: 1.5;
      padding: 1.5rem 0.375rem;
      margin: 5px;
    }

    .win {
      color: aqua;
      font-size: 5rem;
    }
    .fails {
      color: red;
      font-size: 2rem;
    }
    .prevs {
      color: white;
      font-size: 2rem;
    }

    .pre {
      background-color: rgb(75, 75, 75);
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;

      button {
        border-width: 5px;
        cursor: help;
        font-family: "Silkscreen";
        font-size: 1.5rem;
      }
      button:active {
        background-color: rgba(0, 255, 217, 0.116);
      }
      button:focus {
        border: 10px solid rgba(255, 0, 0, 0.429);
        border-radius: 20px;
      }

      span {
        font-size: 3rem;
      }
    }
  }

  h1 {
    color: $myColor;
  }

  span {
    color: rgb(191, 199, 213);
  }

  span.link {
    color: #09d3ac;
  }

  .lorem {
    background-color: aqua;
    padding: 10px;
  }
}
